.TimeSlot{
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 35%;
}

.PatientName{
    /* margin-left: 40px; */
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 43%;
}

.PatientId{
    /* margin-left: 40px; */
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 20%;
}

.daily-schedule-container{
    /* overflow: auto; */
    flex: 1;
    overflow-y: auto;
}