/*.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}*/

.input-container {
  margin: 10px 0;
}

input {
  width: 70%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-control {
  max-width: 70%;
}

.login-container {
  max-width: 30%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.form-label{
  max-width: 70%;
  margin-top: 2%;
}

.btn-primary {
  margin-top: 10%;
  width: 50%;
}

.Banner{
  margin-top: 4%; 
}

.login{
  /* background-color: lightblue; */
  /* background-image: url('../public/background_logo.png'); */
  /* background-size: 'cover'; */
  /* background-position: 'center'; */
  /* background-repeat: 'no-repeat'; */
  /* width: '100%'; */
}